@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background: black;
    font-family: 'Outfit';
    /* margin-top: 40px; */
}

main {
    width: 375px;
    height: 812px;
    margin: auto;
    padding: 22.5px;
    background: var(--slate300);
}

.container {
    width: 320px;
    height: 499px;
    background: white;
    padding: 20px;
    margin-top: 156.5px;
    border-radius: 20px;
}

.container img {
    width: 100%;
    height: 288px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.outfit-h2 {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--slate900);
    margin-bottom: 20px;
    text-align: center;
    width: 288px;
    padding: 0 16px;
}

.outfit-p {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--slate500);
    margin-bottom: 20px;
    text-align: center;
    width: 288px;
    padding: 0 16px;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
    body{
        background: var(--slate300);
    }
}